{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  
{% endblock css %}

{% block body %}
  
         <!-- ***site header html end*** -->
         <main id="content" class="site-main">
            <section class="inner-page-wrap">
               <!-- ***Inner Banner html start form here*** -->
               <div class="inner-banner-wrap">
                  <div class="inner-baner-container" style="background-image: url(assets/images/img7.jpg);">
                     <div class="container">
                        <div class="inner-banner-content">
                           <h1 class="page-title">{% trans "Tour Packages" %}</h1>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***Inner Banner html end here*** -->
               <!-- ***package section html start form here*** -->
               <div class="package-item-wrap">
                  <div class="container">
                    {% for tour in tours %}
                        <article class="package-item">
                            <figure class="package-image" style="background-image: url({{ tour.get_first_img }});"></figure>
                            <div class="package-content">
                            <h3>
                                <a href="{% url 'tour_tour_detail' tour.pk %}">
                                    {{tour.title}}
                                </a>
                            </h3>
                            <p>{{tour.body}}</p>
                            <div class="package-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-clock"></i>
                                        {{tour.duration}}
                                    </li>
                                    <li>
                                        <i class="fas fa-user-friends"></i>
                                        {{tour.person_count}}
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        {{tour.country}}
                                    </li>
                                </ul>
                            </div>
                            </div>
                            <div class="package-price">
                            <div class="review-area">
                                <span class="review-text">(25 reviews)</span>
                                <div class="rating-start-wrap d-inline-block">
                                    <div class="rating-start">
                                        <span style="width: 80%"></span>
                                    </div>
                                </div>
                            </div>
                            <h6 class="price-list">
                                <span>${{tour.price}}</span>
                                / {% trans "per person" %}
                            </h6>
                            <a href="#" class="outline-btn outline-btn-white">{% trans "Add to cart" %}</a>
                            </div>
                        </article>
                    {% endfor %}
                  </div>
               </div>
               <!-- ***package section html start form here*** -->
               <!-- ***client section html start form here*** -->
               <div class="client-section" style="background-image: url(assets/images/banner-img1.jpg);">
                  <div class="overlay"></div>
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-6">
                           <article class="client-content">
                              <h5 class="sub-title">{% trans "DISCOUNT OFFER" %}</h5>
                              <h2 class="section-title">{% trans "GET SPECIAL DISCOUNT ON SIGN UP" %} !</h2>
                              
                              <a href="{% url 'register' %}" class="round-btn">{% trans "Sign Up Now" %}</a>
                           </article>
                        </div>
                        <div class="col-lg-6">
                           <div class="client-logo">
                              <ul>
                                 <li>
                                    <img src="{% static 'images/client-img1.png' %}" alt="">
                                 </li>
                                 <li>
                                    <img src="{% static 'images/client-img2.png' %}" alt="">
                                 </li>
                                 <li>
                                    <img src="{% static 'images/client-img3.png' %}" alt="">
                                 </li>
                                 <li>
                                    <img src="{% static 'images/client-img4.png' %}" alt="">
                                 </li>
                                 <li>
                                    <img src="{% static 'images/client-img5.png' %}" alt="">
                                 </li>
                                 <li>
                                    <img src="{% static 'images/client-img6.png' %}" alt="">
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ***clinet section html end here*** -->
            </section>
         </main>
{% endblock body %}
{% block js %}
  
{% endblock js %}